h1 {
  text-align: center;
  color: #363636;
}
/* I used some code from W3 schools to make this sidebar but did change the width, left padding, background color  */
nav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(90, 90, 90);
  overflow-x: hidden;
  padding-top: 15px;
  padding-left: 15px;
}
/*added a bit of space between links on the bottom*/
li {
  margin-bottom: 9px;
}
/*different color for hyperlink*/
a {
  color: #e3ffff;
}
/*added a border to try it out and changed background*/
body {
  background-color: #e5e5e0;
  border-color: rgb(15, 15, 15);
  border-style: groove;
}
